<h1>Log in to view the secret page</h1>
<form method="post" action="login.php"><br>
	<input type="text" name="user" value="" placeholder="Username or e-mail"><br>
	<input type="password" name="password" value="" placeholder="Password"><br><br>
		<input type="submit" name="submit" value="Login"><br><br>
</form>
<p>Or <a href="newUser.php">click here</a> to create a new user</p><br>