<h1>Please fill out the following form to register as a new user.</h1>
<form method="post" action="newUser.php"><br>
	<input type="text" name="username" value="" placeholder="Your e-mail"> This must be a valid e-mail address.<br>
	<input type="password" name="password" value="" placeholder="Password"> Must contain both numbers and letters (8-24 characters long).<br>
	<input type="password" name="passwordConfirm" value="" placeholder="Confirm password"> Must match the password above.<br><br>
	<input type="submit" name="submit" value="Register"><br><br>
</form>