
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
	background-color: #00a0f0;
}

a {
	padding-left: 20px;
	font-size: 125%;
	color: #000000;
}

ul {
	text-align: left;
	margin-left: 10%;
	margin-bottom: 50px;
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
	text-align: center;
	font-size: 115%;
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.header {
	width: 100%;
	height: 123px;
	background-image:url('images/header_blue.png');
	background-size:100% 100%;
}

.logo_block {
	width: 200px;
	height: 100%;
	background-color: #FF0033;
}

.background.block_left {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 200px;
	background-image:url('images/side_blue.png');
	background-size:100%;
	background-repeat:no-repeat;
	margin-top: 123px;
	margin-bottom: 43px; 
}

.block_left {
	height: auto;
	width: 200px;
	padding-bottom: 43px;
}

.background.block_left.content{
	margin-left: 100px;
	padding_left: 100px;
}

.background.block_right {
	height: auto !important;
	padding-bottom: 0;
	right: 0;
	width: 200px;
	background-image:url('images/side_blue.png');
	background-size:100%;
	background-repeat:no-repeat;
	margin-top: 123px;
	margin-bottom: 43px; 
}

.block_right {
	height: auto;
	width: 152px;
	padding-bottom: 43px;
}

.background.body {
	height: auto !important;
	padding-bottom: 43px;
	left: 0;
	right: 0;
	background-color: #00a0f0;
	border-style: solid;
	border-radius: 25px;
	margin-top: 123px;
	margin-bottom: 43px;
	margin-left: 200px;
	margin-right: 200px; 
}

.footer {
	width: 100%;
	height: 43px;
	background-color: #996699;
	background-image: url('images/footer_sand.png');
}

